fieldset > div.text-center.form-group > a{
	color: gray;
}

body {
	color: #575757;
}
a, a:hover{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
.content-width{
	max-width: 960px;
	margin: auto;
}
.rcorner-btn {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.join-btn, .login-btn{
	color: black;
	background: whitesmoke;
	text-transform: uppercase;
	padding: 6px 12px;
	margin: 0 1px;
	font-family: "arial";
	font-weight: bold;
	font-size: 0.9em;
}
.login-btn{
	background: #8B8B8B;
	color: whitesmoke;
	margin-left: 15px;
}
.black-btn{
	background: black;
	color: white;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 12px;
	padding: 7px 8px;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 1px;
	margin-right: 10px;
}
.black-btn-disabled{
	background: #C0C0C0;
}
.uploadcv-btn{
	display: inline-block;
	width: 9px;
	height: 11px;
	background: url(../img/uploadarrow.gif)no-repeat center center;
	margin-right: 5px;
}
.rounded-btn{
	background: white;
	color: black;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 25px;
	padding: 15px 25px;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	font-family: "arial", sans-serif;
	margin: 10px;
}
.rounded-btn:hover{
	color: gray;
}

header.navbar{
	background: black;
	height: 115px;
	position: relative;
}
	header .div-a {
		max-width: 460px;
		float: left;
	}

		h1.logotipo{
			margin-top: 5px;
			width: 115px;
			height: 55px;
			background: url(../img/logotoptal.png) no-repeat center center; 
			text-indent: -10000px;
		}
		header span{
			font-style: italic;
			font-size: 1.3em;
			display: block;
			margin: -50px 0 0 130px;
			font-weight: bold;
		}
		header menu{
			padding-left:15px;
			margin-top: 25px;
		}
		header menu ul{
			margin: 0;
			padding: 0;
		}
		header menu ul li{
			list-style: none;
			display: inline-block;
			margin-right: 5px;
			font-size: 1.3em;
			font-family: 'Roboto', sans-serif;	
			font-weight: 100;	
		}
		header menu ul li a, header menu ul li a:visited {
			color: white;
			letter-spacing: 1px;
		}
		header menu ul li a:hover, header menu ul li a:active{
			color: whitesmoke;
			text-decoration: none;
		}

	header .div-b {
		width: 400px;
		float: right;
		margin-top: 22px;
		color: white;
		font-weight: 100; 
	}
	
	header .div-b ul li{
		list-style: none;
		display: inline-block;
		clear: right;
		height: 30px;
	}
	
	header .div-b span.callus {
		float: right;
		bottom: 20px;
		font-family: "Roboto", sans-serif;
		font-weight: 100;
		font-style: normal;
		margin-top: 10px;
	}


.top-profile{
	height: 240px;
	background: #E9E9E9;
	margin-top: 40px;
	position: relative;
}
	.profile-picture{
		position: absolute;
		width: 240px;
		max-width: 240px;
		height: 240px;
		background: #C0C0C0;
	}
	.profile-picture-widget{
		height: 240px;
		z-index: 2;
		position: absolute;
	}
		.uploadcare-widget-button.uploadcare-widget-button-open {
			background:none;
			color: black;
			line-height: 240px;
			width: 240px;
			height: 240px;
			padding: 0;
			margin: 0;
			text-align: center;
			cursor: pointer;
			border-radius: 0;
		}

		.uploadcare-widget-button.uploadcare-widget-button-open:hover{
			background: black;
			color: whitesmoke;
		}
	
	.profile-picture .profileImg{
		z-index: 1;
		position: absolute;
		margin:0;
		padding: 0; 
	}
	.uploadcare-widget-status-loaded .uploadcare-widget-text{
		display: none !important;
		border: 1px solid purple;
	}
	.profile-panel{
		max-width: 690px;
		float: right;
		margin-left: 30px;
	}
		.profile-info{
			width: 420px;
			float:left;
		}
			.profile-info h3{
				font-size: 3em;
				font-family: 'Roboto', sans-serif;
				font-weight: 100;
				margin: 15px 0 0;
				text-transform: capitalize;
			}
			.profile-info p a{
				font-weight: bold;
				color: gray;
			}
			.profile-info p:nth-child(2){
				margin-bottom: 0;
			}
			
			.addSkill, .addLang, .addLoc{
				font-weight: bold;
				cursor: pointer;
				text-transform: capitalize;
				margin-bottom: 0;
			}

			.profile-info .addASkill{
				width: 85px;
				padding: 4px;
				padding-left: 0;
				cursor: pointer;
				font-weight: bold;
			}
			.profile-info .addASkill:hover{
				padding: 3px;
				border: 1px solid #B8B8B8;
			}

		.profile-actions{
			display: block;
			width: 270px;
			height: 240px;
			float: right;
			padding-top: 20px;
			position: relative;
		}

		.profile-actions p:nth-child(2){
			color: #C0C0C0;
			font-size: 0.9em;
			margin-top: 12px;
		}
		
		.profile-actions p:nth-child(3){
			margin: auto;
			text-align: center;
			width: 150px;
			margin-top: 95px;
		}
		
		.profile-actions p:nth-child(3)::before{
			content: url(../img/papersheet.gif);
			width: 44px;
			height: 55px;
			display: block;
			margin-left: -15px;
			margin-bottom: -33px;
		}

.flex-container{
	width:100%;
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	border: 1px solid #E9E9E9;
	border-left: 0;
	border-bottom: 0;
}
	.flex-item{
		border-left:1px solid #E9E9E9;
		border-bottom: 1px solid #E9E9E9; 
		width: 25%;
		height: 240px;
		box-flex:25%;
		/*padding: 10px;*/
		text-align: center;
		overflow: hidden;
	}
		/*.flex-item:hover{
			background: black;
			color: white;
		}*/

		.white-bg{
			background-color: white;
			color: #575757;
		}
		.black-bg{
			background-color: black;
			color: white;
		}
			.black-bg input, .black-bg textarea{
				color: black;
			}


	.flex-item h4{
		font-family: "Roboto", sans-serif;
		font-weight: bold;
		margin-top: 18px;
	}
	.flex-item .squared-link{
		color: #848484;
		display: block;
		height: 100%;
		width: 100%;
		font-weight: 100;
		font-family: sans-serif;
		line-height: 185px;
	}
	.flex-container.container-b .squared-link{
		line-height: 240px;
	}
	
	

	.flex-item.long-title .squared-link{ 
		margin-top: -19px;
	}
	.comas-bg{
		background: url(../img/comasbg.png) transparent no-repeat center 55px;
	}
	.comas-bg.black-bg{
		background-color:black;
	}

	.flex-item.double-item{
		/*background: red;*/
	}
		.availability{
			height: 105px;
			border-bottom: 1px solid #E9E9E9;
		}
		.availability span {
			font-size: 2.1em;
			color: #575757;
			display: block;
			height: 100%;
			line-height: 65px;
			font-weight: bold;
			cursor: pointer;
		}
		.environment div a {
			line-height: 50px;
			color: #848484;
			font-weight: 200;
			height: 100%;
			display: block;
		}
		

.separator-paragraph{
	font-family: "Roboto", sans-serif;
	font-size: 2.2em;
	font-weight: 100;
	text-align: center;
	padding: 25px;
	margin: 0;
}

.separator-block {
	background: #E8E8E8;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 1.5em;
	padding: 15px;
}
	.separator-block p{
		font-size: 0.7em;
		margin-top: 15px;
	}

.top-skills-toptal {
	font-family: "Roboto", sans-serif;
}
	.top-skills-toptal h5{
		text-align: center;
		font-size: 1.5em;
		margin: 50px auto 30px;
		font-weight: bold;
		color: black;
	}
	.top-skills-toptal ul {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
		padding: 0;
		margin: auto;
	}
	.top-skills-toptal ul li{ 
		margin-bottom: 6px;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		column-break-inside: avoid;
		list-style: none;
		font-weight: 100;
	}
	.top-skills-toptal ul li span{ 
		width: 15px;
		display: inline-block; 
		font-weight: bold;
	}
	.top-skills-toptal ul li a{  
		color: #555555;
	}
	.top-skills-toptal ul li a:hover{  
		background: black;
		color: white;
	}

.join-band{
	background: black;
	padding: 10px;
	color: #8A8A8A;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	text-align: center;
	padding: 35px;
	margin-top: 40px;
}
	.join-band span{
		color: white;
	}

footer  {
	background: #D2D2D2;
}
	footer .flex-footer{
		display: -webkit-flex;
	    display: flex;
	    color: black;
	    padding: 20px 0;
	}
	footer .flex-footer h5{
	    font-size: 1.1em;
		
		font-weight: bold;
	}
	footer .flex-footer ul{
		margin: 0;
		padding: 0;
	}
	footer .flex-footer li{
		list-style: none;
		margin-bottom: 5px;
	}
	footer .flex-footer li a{
		color: black;
	}
		footer div.footer-a {
			width: 428px;	
		}
		footer div.footer-b {
			width: 260px;
			padding-left:40px;
		}
		footer div.footer-c {
			font-size: 1.1em; 
			width: 145px;
			padding-left: 30px;
			padding-top: 10px;
			font-weight: bold;
		}
		footer div.footer-d {
		}

	footer .credits-a {
		max-width: 300px;
		font-size: .8em;
		color: black;
		padding-bottom: 0;
		margin: 0;
		float: left;
	}
	footer .credits-b {
		font-size: .8em;
		margin-top: -30px;
		padding-bottom: 0;
		margin: 0;
		text-align: right;
	}

	footer .credits-b a{
		color: black;
		margin-left: 15px;
		
	}



/*Interaction stage /////////////////////// */
#profileName-cont{
	font-size: 2em;
	width: 95%;
	margin: 10px 0;
	background: white;
	border: 1px solid #C0C0C0;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	position: relative;
}

	input#profileName{
		border: none;
		padding: 5px;
	}

	#profileName-cont span{
		color: gainsboro;
		position: absolute;
		top: 10px;
		right: 5px;
	}

	.devInfo input{
		width: 50%;
		margin: 2px 0;
		background: white;
		border: 1px solid #C0C0C0;

	}
	.devInfo span.glyphicon.glyphicon-ok-sign{
		color: gray;
		right: 25px;
		top: 2px;
	}
	.dev-skills {
		position: relative;
	}
		.dev-skills input, .dev-skills input:active, .ng-valid.ng-dirty{
			border: 1px solid #C0C0C0;
			padding-left: 5px;
		}
		
		.dev-skills select{
			position: absolute;
			right: 230px;
			top: 4px;
			border:0px solid gray;
		}
		.dev-skills span.glyphicon.glyphicon-ok-sign{
			position: absolute;
			top: 7px;
			right: 213px;
		}
		.skillist{
			padding: 0;
			margin: 0;
		}
		.skillist li{
			list-style: none;
			display: inline-block;
			background: #AAAAAA;
			color: white;
			margin: 13px 6px 3px 0;
			border-radius: 2px;
			padding: 6px 8px;
			text-transform: uppercase;
			font-size: 0.9em;
			letter-spacing: 1px;
			cursor: default;
		}
		.skillist li:nth-child(1), .skillist li:nth-child(2){
			background: #000000;
		}
		.skillist li:nth-child(3), .skillist li:nth-child(4){
			background: #676767;
		}
		.skillist li:nth-child(5), .skillist li:nth-child(6){
			background: #AAAAAA;
		}
		.removeSkill{
			cursor: pointer;
		}

#createProfile > div:nth-child(2) > div:nth-child(7) > div, #viewProfile > div:nth-child(2) > div:nth-child(7) > div{
	position: relative;
}

map#map-canvas{
	height: 240px; 
	margin: 0px; 
	padding: 0px;
	top: -48px;
}

.map-link, .map-link:hover, .map-link:active, .map-link:visited {
	display: block;
	height: 65px;
	width: 100%;
	position: absolute;
	top: 128px;
	vertical-align: middle;
	text-align: left;
	text-transform: capitalize;
	padding: 10px 20px;
	color: white;
	background: url(../img/linkorner.png)rgba(0, 0, 0, 0.8) no-repeat bottom right;
	font-weight: 100;
	letter-spacing: 1px;
}

.saveIcon{
	display: block;
	text-align: left;
	padding: 3px 12px;
	cursor: pointer;
	float: left;
}

.portfolios-line, .experience-line{
	/*border:1px solid red;*/
	text-align: center;
	margin: 2px
}
.portfolios-line input, .experience-line input{
	width: 45%;
	padding: 0;
	font-size: 0.9em;
}

.portfolio-portfolio, .experience-experience {
	margin: 0px 30px;
	padding: 0;
}
.portfolio-portfolio li, .experience-experience li {
    background: url(../img/bullet.png) no-repeat left 5px;
    padding: 3px 20px;
    text-align: left;
    list-style: none;
    text-transform: capitalize;
}
.portfolio-portfolio li span, .experience-experience li span{
	font-weight: bold;
}

textarea.txtbox{
	width: 88%;
	font-style: italic;
	margin-top: 5px;
	padding: 8px;
}
textarea.txtbox-environment{
	padding-top: -8px;
}

.txt-comillas{
	padding: 20px;
	text-align: left;
	font-style: italic;
	color: #575757;
	font-size: 1.1em;
}

.txt-environment{
	padding: 0 10px;
}

.locationpicture{
	position: relative;
}

.locationpicture .map-link{
	top: 175px;
	background: rgba(0, 0, 0, 0.8) no-repeat bottom right;
}

.locationpicture .map-link span{
	font-size: 0.8em
}


.onMeOne-picture, .onMeTwo-picture{
	position: relative;
}
 .onMeOne-picture-widget, .onMeTwo-picture-widget, .sCode-picture-widget {
	position: absolute;
}

.onMeOne-picture-legend-input, .onMeTwo-picture-legend-input{
	position: absolute;
	bottom: 10px;
	margin: auto;
	width: 100%;
	text-align: center;
	display: block;
	padding-right: 30px;
}

.onme1 span.glyphicon.glyphicon-ok-sign.saveIcon, .onme2 span.glyphicon.glyphicon-ok-sign.saveIcon{
	position: absolute;
	top: 206px;
	right: 0px;
	z-index: 3;
}

.showOnMeOneLegend, .showOnMeTwoLegend {
	color: white;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	padding: 15px 30px;
	text-align: left;
	top: auto;
	min-height: 70px;
	width: 100%;
	margin: 0;
	font-size: 0.9em;
}
.flex-item.sCode{
	position: relative;
}
.sCode h4{
	float: left;
	position: absolute;
	margin: 0;
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
}






 /*Landscape phones and down */
@media (max-width: 950px) { 
	
	.flex-item{
		flex:100%;	
	}
	footer div{
		flex-wrap: wrap;
		flex:100%;
		padding: 10px;
		margin: 0;
	}
	footer .credits-a{
		max-width: 300px;
	}

	footer div.footer-b{
		padding-left: 0;
	}

	header.navbar{
		height: auto;
	}

	.profile-actions{
		height: auto;
		width: 100%;
		text-align: center;
	}
	.profile-actions p:nth-child(3){
		margin-top: 0;
	}




	.profile-picture {
		position: inherit;
		margin: auto;
	}
	.profile-panel {
		float:none;
	}
	.top-skills-toptal ul {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
		padding: 10px;
		margin: auto;
	}



}
/* Large desktop 
@media (min-width: 1200px) { .top-profile{
		background: green;
	}	 }
*/



