<!-- <!DOCTYPE html>
 <html>

    <head>
        <title>Toptal Asael-Arenas</title>
        <meta name="description" content="">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
        
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="main.css">
    </head>

<body> -->
   
  <!--   <header>
        <div class="content-width">
            
            <div class="div-a">
                <h1 class="logotipo">Toptal</h1>
                <span>Exclusive access to top developers</span>
                <menu>
                    <ul>
                        <li> <a href="#">what</a> </li>
                        <li> <a href="#">why</a> </li>
                        <li> <a href="#">how</a> </li>
                        <li> <a href="#">client</a> </li>
                        <li> <a href="#">team</a> </li>
                        <li> <a href="#">labs</a> </li>
                        <li> <a href="#">faq</a> </li>
                        <li> <a href="#">contact</a> </li>
                    </ul>
                </menu>
            </div>
            
            <div class="div-b">
                <ul>
                    <li>Join toptal as</li>
                    <li> <a href="#" class="rcorner-btn join-btn">Developer</a></li>
                    <li> <a href="#" class="rcorner-btn join-btn">Company</a></li>
                    <li> <a href="#" class="rcorner-btn login-btn">Login</a></li>
                </ul>
                <span class="callus">Call us: 888.323.4422</span>
            </div>
                        
        </div>
    </header> -->

    <div id="content">
        
        <div class="content-width"> 
            <div class="top-profile">
                
                <div class="profile-picture">Add profile image ...</div>
                
                <div class="profile-panel">
                    
                    <div class="profile-info">
                        <h3>Add name</h3>
                        <p><a href="#">Add location</a></p>
                        <p><a href="#">Add languages</a></p>
                        <p><a href="#">Add skill</a></p>
                    </div>
                    
                    <div class="profile-actions">
                        <p><a href="#" class="black-btn"> Save profile </a> <a href="#" class="black-btn black-btn-disabled"> Publish profile </a>  </p>
                        <p>(You can only publish a completed profile) </p>
                        <p><a href="#" class="black-btn"><span class="uploadcv-btn"></span> Upload Resume </a></p>
                    </div>
                </div>

            </div>

            <div class="flex-container">
                
                <div class="flex-item">
                    <h4>Portfolio</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item">
                    <h4>Experience</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item long-title">
                    <h4>Sample code and algorithms</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item double-item"> 
                    <div class="availability">  
                        <h4>Availability</h4>
                        <div class="item-content"><a href="#">Full-time</a></div>
                    </div>

                    <div class="environment">
                        <h4>Preferred environment</h4>
                        <div class="item-content"><a href="#">Add content ...</a></div>
                    </div>
                </div>
            
                <div class="flex-item comas-bg">
                    <h4>The most amazing ...</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item comas-bg">
                    <h4>In clients I look for ...</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item">
                    <h4>Location</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item comas-bg">
                    <h4>Note</h4>
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

            </div>
            
            <p class="separator-paragraph"> Let me introduce myself ...</p>

            <div class="flex-container container-b">
                <div class="flex-item">
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item">
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item">
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>

                <div class="flex-item">
                    <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
                </div>
            </div>
            
            <div class="separator-block"> Important! Please fill out the Q&amp;A form 
                <a href="#" class="rounded-btn">Q&amp;A FORM</a>
                <p>5 of 25 questions answered</p>
            </div>

            <div class="top-skills-toptal">
            <h5>Top skills on toptal</h5>
                <ul>
                    <li><span>.</span> <a href="#">.NET Programmers</a> </li>
                    <li><span>&nbsp;</span> <a href="#"> 3ds Max Engineers </a> </li>  
                    <li><span>A</span> <a href="#"> Administrative Assistants </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Advertising Consultants </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> AJAX Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Amazon Web Services...</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Android Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Animators </a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Article Writers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> ASP Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> ASP.NET Programmers</a> </li>  
                    <li><span>B</span> <a href="#"> Blog Writers </a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Business Writers </a> </li>
                    <li><span>C</span> <a href="#"> C Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Cocoa Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Content Writers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Copyright Attorneys </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> CSS Programers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Customer Service Reps</a> </li>  
                    <li><span>D</span> <a href="#"> Data Entry Experts</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> DHTML Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Dot Net Nuke Programmers</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Drupal Programmers </a> </li>  
                    <li><span>F</span> <a href="#"> Flash Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Foursquare Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> French Translators </a> </li> 
                    <li><span>G</span> <a href="#"> Google App Engineer</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Graphic Designers </a> </li> 
                    <li><span>H</span> <a href="#"> HTML Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> HTML5 Programmers </a> </li>  
                    <li><span>I</span> <a href="#"> Illustrator Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> InDesign Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> iPhone Programmers </a> </li> 
                    <li><span>J</span> <a href="#"> Java Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> JavaScript Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Joomla Programmers </a> </li> 
                    <li><span>L</span> <a href="#"> LAMP Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Linux Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Logo Designers </a> </li> 
                    <li><span>M</span> <a href="#"> Mac OS Programmers</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Magento Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Microsoft Excel </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Microsoft Sharepoint ...</a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Mobile Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> MySQL Programmers </a> </li>  
                    <li><span>N</span> <a href="#"> Newsletter Writers </a> </li> 
                    <li><span>O</span> <a href="#"> Office Administrators ...</a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Online Writers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Oracle Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> osCommerce Programmers </a> </li> 
                    <li><span>P</span> <a href="#"> Palm Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> PayPal Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Photoshop Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> PHP Programmers </a> </li> 
                    <li><span>R</span> <a href="#"> Ruby on Rails Programmers </a> </li> 
                    <li><span>S</span> <a href="#"> Salesforce.com Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> SAP Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> SE0 Consultants </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Software Testing Programmers</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Spanish Translators </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> SQL Programmers </a> </li>   
                    <li><span>T</span> <a href="#"> Transcriptionists </a> </li>
                </ul>
            </div>
        </div>
        
        <div class="join-band">
                <div class="content-width">
                    Joint toptal community.<span> Apply to work with us as a</span> <a href="#" class="rounded-btn">DEVELOPER</a> or <a href="#" class="rounded-btn">CLIENT</a> 
                </div>
        </div>

        <footer>
                <div class="content-width">
                    
                    <div class="flex-footer">
                        
                        <div class="footer-a"> 
                            <h5>About toptal</h5>
                            <p>TopTal connects start-ups, business, and organizations to a growing network of the best developers in the world. Our engineers are available full- or part-time and are able to seamlessly integrate into your team.</p>
                        </div>

                        <div class="footer-b">
                            <h5>FAQ</h5>
                            <ul>
                                <li><a href="#">How can I join toptal?</a></li>
                                <li><a href="#">What requirements I have to meet?</a></li>
                                <li><a href="#">How do you pay me?</a></li>
                                <li><a href="#">Lorem ipsum dolor it amet?</a></li>
                                <li><a href="#">Rokok ini nulla facilis?</a></li>
                            </ul>
                        </div>

                        <div class="footer-c">
                            <ul>
                                <li><a href="#">What</a></li>
                                <li><a href="#">Why</a></li>
                                <li><a href="#">How</a></li>
                                <li><a href="#">Clients</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Lab</a></li>
                            </ul>
                        </div>

                        <div class="footer-d">
                            <h5>Contact</h5>
                            <ul>
                                <li><a href="#">Join us</a></li>
                                <li><a href="#">Send us e-mail</a></li>
                                <li><a href="#">Follow us on twitter</a></li>
                                <li><a href="#">Call 888.323.4422</a></li>
                            </ul>
                        </div>

                    </div>
                    
                    <p class="credits-a">Copyright 2015 Toptal Development Inc.</p>
                    <p class="credits-b"><a href="#">Privacy policy</a> <a href="#">Term of use</a> </p>
                                        
                </div>
                <br>
        </footer>

    </div>

<!-- </body>

</html> -->



<!-- <section data-ng-controller="DevprofilesController">
    <div class="page-header">
        <h1>New Devprofile</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>