<div id="content">
  
    <section data-ng-controller="DevprofilesController" id="createProfile" class="content-width" > 

<!-- <div class="col-md-12">

    <form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>

    <fieldset>
    <div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">

    <label class="control-label" for="title">Title</label>
    <div class="controls">
    <input name="title" type="text" data-ng-model="name" id="title" class="form-control" placeholder="Title" required>
    </div>

    </div>

    <div class="form-group">

    <label class="control-label" for="content">Content</label>
    <div class="controls">
    <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
    </div>

    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-default">
    </div>


    </fieldset>

    </form>
</div> -->

        <div class="top-profile">
            
            <div class="profile-picture">Add profile image ...</div>
            
            <div class="profile-panel">
                
                <div class="profile-info">

                    <h3 ng-click="clickedName()" ng-show="!showInputName">{{ name || 'Add name'}}</h3>

                    <div id="profileName-cont" ng-show="showInputName" name="title"> 
                        <input id="profileName" ng-blur="showInputName = false" ng-keyup="getKeyName($event.keyCode)" data-ng-model="name" type="text" placeholder="Write your name" maxlength="50" required>
                        <span ng-click="showInputName = false" class="glyphicon glyphicon-ok-sign"></span>
                    </div>
      
                    <p>
                        <span ng-init="setLocation()" ng-show="!showInputLocation" ng-click="clickedLocation()" href="#">{{ location || 'Add location'}} </span>
                        <input id="pac-input" ng-show="showInputLocation" ng-keyup="getKeyLocation($event.keyCode)" ng-blur="blurLocation()"  data-ng-model="location" class="controls" type="text" placeholder="Search Location">
                    </p>


                    <p><a href="#">Add languages</a></p>
                    <p><a href="#">Add skill</a></p>
                </div>
                
                <div class="profile-actions">
                    <p><a href="#" class="black-btn" data-ng-click="create()"> Save profile </a> <a href="#" class="black-btn black-btn-disabled"> Publish profile </a>  </p>
                    <p>(You can only publish a completed profile) </p>
                    <p><a href="#" class="black-btn"><span class="uploadcv-btn"></span> Upload Resume </a></p>
                </div>
            </div>

        </div>

        <div class="flex-container">
            
            <div class="flex-item">
                <h4>Portfolio</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <h4>Experience</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item long-title">
                <h4>Sample code and algorithms</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item double-item"> 
                <div class="availability">  
                    <h4>Availability</h4>
                    <div class="item-content"><a href="#">Full-time</a></div>
                </div>

                <div class="environment">
                    <h4>Preferred environment</h4>
                    <div class="item-content"><a href="#">Add content ...</a></div>
                </div>
            </div>
        
            <div class="flex-item comas-bg">
                <h4>The most amazing ...</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item comas-bg">
                <h4>In clients I look for ...</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <h4>Location</h4>
                <div class="item-content">
  
                    <map id="map-canvas" zoom="11" center="[40.47, 73.58]" map-type-id="TERRAIN"> </map>

                <a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item comas-bg">
                <h4>Note</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

        </div>
        
        <p class="separator-paragraph"> Let me introduce myself ...</p>

        <div class="flex-container container-b">
            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>
        </div>
        
        <div class="separator-block"> Important! Please fill out the Q&amp;A form 
            <a href="#" class="rounded-btn">Q&amp;A FORM</a>
            <p>5 of 25 questions answered</p>
        </div>

        <!-- Include Top Skills -->
        <div ng-include src="'/modules/devprofiles/views/topskills-devprofile.client.view.html'"></div>

    </section>
       
    <!-- Include footer -->
    <div ng-include src="'/modules/devprofiles/views/footer-devprofile.client.view.html'"></div>

</div>



