<div id="content">
  
    <section data-ng-controller="DevprofilesController" id="createProfile" class="content-width" > 

        <div class="top-profile">
            
            <div class="profile-picture">      
            <!-- <div class="profile-picture" ng-style="{'background-image':getPictuere}">            -->
                <!-- <span>Add profile image ... </span> -->
                <div class="profile-picture-widget">
                    <uploadcare-widget
                        ng-model="object.image.info.uuid"
                        data-public-key="c48b5084038f60f2dd0d"
                        data-locale="en"
                        data-tabs="file url"
                        data-images-only="true"
                        data-path-value="false"
                        data-preview-step="true"
                        data-clearable="true"
                        data-multiple="false"
                        data-crop="240:240"
                        on-upload-complete="onUCUploadComplete(info)"
                        on-widget-ready="onUCWidgetReady(widget)"
                        value="{{ object.image.info.cdnUrl }}"
                    />

                </div>
                <img src="{{profileImg}}" class="profileImg" alt="" height="240" width="240">
            
            </div>
            
            <div class="profile-panel">
                
                <div class="profile-info">

                <!-- Developer Name -->
                    <h3 ng-click="clickedName()" ng-focus="showInputName" ng-show="!showInputName">{{name || 'Add name'}}</h3>
                    <div id="profileName-cont" ng-show="showInputName" name="title"> 
                        <span ng-click="showInputName = false" class="glyphicon glyphicon-ok-sign"></span>
                        <input id="profileName" ng-blur="showInputName = false" ng-keyup="getKeyName($event.keyCode)" data-ng-model="name" type="text" placeholder="Write your name" maxlength="50" >
                    </div>
                    
                <!-- Developer location -->
                    <div class="devInfo">
                        <p class="addLoc" ng-init="setLocation()" ng-show="!showInputLocation" ng-click="clickedLocation()">{{devLocation || 'Add location'}} </p>
                        <input id="pac-input" ng-show="showInputLocation" ng-keyup="getKeyLocation($event.keyCode)" ng-blur="showInputLocation=false" data-ng-model="location" class="controls" type="text" placeholder="Search Location">
                    </div>
                    
                <!-- Developer languages -->
                    <div class="devInfo">
                        <p class="addLang" ng-show="!showInputLang" ng-click="showInputLang = true">{{devLangs || 'Add languages'}}</p>
                        <input id="languages-input" ng-show="showInputLang" ng-blur="showInputLang = false" data-ng-model="devLangs" type="text" placeholder="Add languages">
                        <span ng-show="showInputLang" ng-click="showInputLang = false" class="glyphicon glyphicon-ok-sign"></span>
                    </div>

                <!-- Developer skills -->
                     <div class="devInfo">

                        <ul class="skillist"><li ng-repeat="skl in skills">{{skl.skill}} <span class="removeSkill glyphicon glyphicon-remove-sign" ng-click="removeSkill($index)"></span> </li></ul>

                        <p class="addASkill" ng-show="!showInputSkill" ng-click ="showInputSkill = true" ng-mouseover="viewPlusIcon=true" ng-mouseleave="viewPlusIcon=false">Add skill <span ng-show="viewPlusIcon" class="glyphicon glyphicon-plus-sign"></span></p>
                        
                        <div class="dev-skills" ng-show="showInputSkill" ng-blur="showInputSkill = false">

                            <input data-ng-model="devSkill" type="text" ng-keyup="skillGetKeyEsc($event.keyCode)" placeholder="Write skill">   
                            <select ng-model="skillevel" ng-keyup="skillGetKeyEsc($event.keyCode)">
                                <option value="" selected="">Select</option>
                                <option value="soft">Soft</option>
                                <option value="medium">Medium</option>
                                <option value="strong">Strong</option>
                            </select>
                            <span ng-show="devSkill" ng-click="addSkill(devSkill, skillevel, $event.keyCode)" class="glyphicon glyphicon-ok-sign"></span>
                        
                        </div>
                      
                        
                    
                    </div>

                </div>
                
                <div class="profile-actions">
                    <p><a class="black-btn" data-ng-click="create()"> Save profile </a> <a href="#" class="black-btn black-btn-disabled"> Publish profile </a>  </p>
                    <p>(You can only publish a completed profile) </p>
                    <p><a  class="black-btn"><span class="uploadcv-btn"></span> Upload Resume </a></p>
                </div>
            </div>

        </div>

        <div class="flex-container">
            
            <div class="flex-item">
                <h4>Portfolio</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <h4>Experience</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item long-title">
                <h4>Sample code and algorithms</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item double-item"> 
                <div class="availability">  
                    <h4>Availability</h4>
                    <div class="item-content"><a href="#">Full-time</a></div>
                </div>

                <div class="environment">
                    <h4>Preferred environment</h4>
                    <div class="item-content"><a href="#">Add content ...</a></div>
                </div>
            </div>
        
            <div class="flex-item comas-bg">
                <h4>The most amazing ...</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item comas-bg">
                <h4>In clients I look for ...</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <h4>Location</h4>
                <div class="item-content">
                    <div ng-show="showMapLocation">
                        <map id="map-canvas"> </map>
                        <a class="map-link" href="{{mapLink}}" target="blank">{{name}} lives in {{devLocation}}</a>
                    </div>

                <a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item comas-bg">
                <h4>Note</h4>
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

        </div>
        
        <p class="separator-paragraph"> Let me introduce myself ...</p>

        <div class="flex-container container-b">
            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>

            <div class="flex-item">
                <div class="item-content"><a class="squared-link" href="#">Add content ...</a></div>
            </div>
        </div>
        
        <div class="separator-block"> Important! Please fill out the Q&amp;A form 
            <a href="#" class="rounded-btn">Q&amp;A FORM</a>
            <p>5 of 25 questions answered</p>
        </div>

        <!-- Include Top Skills -->
        <div ng-include src="'/modules/devprofiles/views/topskills-devprofile.client.view.html'"></div>

    </section>
       
    <!-- Include footer -->
    <div ng-include src="'/modules/devprofiles/views/footer-devprofile.client.view.html'"></div>

</div>



