 <div class="join-band">
            <div class="content-width">
                Joint toptal community.<span> Apply to work with us as a</span> <a href="#" class="rounded-btn">DEVELOPER</a> or <a href="#" class="rounded-btn">CLIENT</a> 
            </div>
    </div>

    </div>   
    
    <footer>
            <div class="content-width">
                
                <div class="flex-footer">
                    
                    <div class="footer-a"> 
                        <h5>About toptal</h5>
                        <p>TopTal connects start-ups, business, and organizations to a growing network of the best developers in the world. Our engineers are available full- or part-time and are able to seamlessly integrate into your team.</p>
                    </div>

                    <div class="footer-b">
                        <h5>FAQ</h5>
                        <ul>
                            <li><a href="#">How can I join toptal?</a></li>
                            <li><a href="#">What requirements I have to meet?</a></li>
                            <li><a href="#">How do you pay me?</a></li>
                            <li><a href="#">Lorem ipsum dolor it amet?</a></li>
                            <li><a href="#">Rokok ini nulla facilis?</a></li>
                        </ul>
                    </div>

                    <div class="footer-c">
                        <ul>
                            <li><a href="#">What</a></li>
                            <li><a href="#">Why</a></li>
                            <li><a href="#">How</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Lab</a></li>
                        </ul>
                    </div>

                    <div class="footer-d">
                        <h5>Contact</h5>
                        <ul>
                            <li><a href="#">Join us</a></li>
                            <li><a href="#">Send us e-mail</a></li>
                            <li><a href="#">Follow us on twitter</a></li>
                            <li><a href="#">Call 888.323.4422</a></li>
                        </ul>
                    </div>

                </div>
                
                <p class="credits-a">Copyright 2015 Toptal Development Inc.</p>
                <p class="credits-b"><a href="#">Privacy policy</a> <a href="#">Term of use</a> </p>
                                    
            </div>
            <br>
    </footer>

</div>
<!-- <!DOCTYPE html>
 <html>

    <head>
        <title>Toptal Asael-Arenas</title>
        <meta name="description" content="">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>
        
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="main.css">
    </head>

<body> -->
   
  <!--   <header>
        <div class="content-width">
            
            <div class="div-a">
                <h1 class="logotipo">Toptal</h1>
                <span>Exclusive access to top developers</span>
                <menu>
                    <ul>
                        <li> <a href="#">what</a> </li>
                        <li> <a href="#">why</a> </li>
                        <li> <a href="#">how</a> </li>
                        <li> <a href="#">client</a> </li>
                        <li> <a href="#">team</a> </li>
                        <li> <a href="#">labs</a> </li>
                        <li> <a href="#">faq</a> </li>
                        <li> <a href="#">contact</a> </li>
                    </ul>
                </menu>
            </div>
            
            <div class="div-b">
                <ul>
                    <li>Join toptal as</li>
                    <li> <a href="#" class="rcorner-btn join-btn">Developer</a></li>
                    <li> <a href="#" class="rcorner-btn join-btn">Company</a></li>
                    <li> <a href="#" class="rcorner-btn login-btn">Login</a></li>
                </ul>
                <span class="callus">Call us: 888.323.4422</span>
            </div>
                        
        </div>
    </header> 

    </body>

</html> 

<section data-ng-controller="DevprofilesController">
    <div class="page-header">
        <h1>New Devprofile</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>