<section class="content-width" data-ng-controller="DevprofilesController" data-ng-init="find()">

    <div class="page-header">
        <h1>Devprofiles</h1>
    </div>
    

    <ul class="list-group">
        <li style="list-style:none" data-ng-repeat="devprofile in devprofiles">
            <a data-ng-href="#!/devprofiles/{{devprofile._id}}" class="list-group-item">
                <small class="list-group-item-text"> Created <span data-ng-bind="devprofile.created | date:'medium'"></span></small>
                <h4 class="list-group-item-heading" data-ng-bind="devprofile.name"></h4>
            </a>
            <!-- <a class="btn btn-primary" href="/#!/devprofiles/{{devprofile._id}}/edit"> <i class="glyphicon glyphicon-edit"></i></a> -->
            <a class="btn btn-primary" data-ng-click="remove(devprofile);"> <i class="glyphicon glyphicon-trash"></i></a>
        </li>
    </ul>

    <div class="alert alert-warning text-center" data-ng-hide="!devprofiles.$resolved || devprofiles.length">
    	No Devprofiles yet, why don't you <a href="/#!/devprofiles/create">create one</a>?
    </div>

</section>

