<div class="top-skills-toptal">
            <h5>Top skills on toptal</h5>
                <ul>
                    <li><span>.</span> <a href="#">.NET Programmers</a> </li>
                    <li><span>&nbsp;</span> <a href="#"> 3ds Max Engineers </a> </li>  
                    <li><span>A</span> <a href="#"> Administrative Assistants </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Advertising Consultants </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> AJAX Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Amazon Web Services...</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Android Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Animators </a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Article Writers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> ASP Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> ASP.NET Programmers</a> </li>  
                    <li><span>B</span> <a href="#"> Blog Writers </a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Business Writers </a> </li>
                    <li><span>C</span> <a href="#"> C Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Cocoa Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Content Writers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Copyright Attorneys </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> CSS Programers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Customer Service Reps</a> </li>  
                    <li><span>D</span> <a href="#"> Data Entry Experts</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> DHTML Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Dot Net Nuke Programmers</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Drupal Programmers </a> </li>  
                    <li><span>F</span> <a href="#"> Flash Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Foursquare Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> French Translators </a> </li> 
                    <li><span>G</span> <a href="#"> Google App Engineer</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Graphic Designers </a> </li> 
                    <li><span>H</span> <a href="#"> HTML Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> HTML5 Programmers </a> </li>  
                    <li><span>I</span> <a href="#"> Illustrator Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> InDesign Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> iPhone Programmers </a> </li> 
                    <li><span>J</span> <a href="#"> Java Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> JavaScript Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Joomla Programmers </a> </li> 
                    <li><span>L</span> <a href="#"> LAMP Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Linux Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Logo Designers </a> </li> 
                    <li><span>M</span> <a href="#"> Mac OS Programmers</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Magento Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Microsoft Excel </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Microsoft Sharepoint ...</a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Mobile Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> MySQL Programmers </a> </li>  
                    <li><span>N</span> <a href="#"> Newsletter Writers </a> </li> 
                    <li><span>O</span> <a href="#"> Office Administrators ...</a> </li>
                    <li><span>&nbsp;</span> <a href="#"> Online Writers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Oracle Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> osCommerce Programmers </a> </li> 
                    <li><span>P</span> <a href="#"> Palm Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> PayPal Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Photoshop Designers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> PHP Programmers </a> </li> 
                    <li><span>R</span> <a href="#"> Ruby on Rails Programmers </a> </li> 
                    <li><span>S</span> <a href="#"> Salesforce.com Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> SAP Programmers </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> SE0 Consultants </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> Software Testing Programmers</a> </li>  
                    <li><span>&nbsp;</span> <a href="#"> Spanish Translators </a> </li> 
                    <li><span>&nbsp;</span> <a href="#"> SQL Programmers </a> </li>   
                    <li><span>T</span> <a href="#"> Transcriptionists </a> </li>
                </ul>